@model IEnumerable<FindCarrier.Models.BodyType>

@{
    ViewBag.Title = "Index";
}

<h2>BodyTypes</h2>

<p>
    <a class="btn btn-primary" href="@Url.Action("create")">Add new</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VehicleType)
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleType)
        </td>
        <td>
            <a class="btn btn-primary" href="@Url.Action("edit",new { id=item.TypeID})">Edit</a>
            <a class="btn btn-danger" href="@Url.Action("delete",new { id=item.TypeID})">Delete</a>
        </td>
    </tr>
}

</table>
