@model IEnumerable<FindCarrier.Models.Transporter>
@{
    ViewBag.Title = "Tlist";
}
<style>
    body {
        background-color: #D7BDE2;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 40%;
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
        }

    .container {
        padding: 2px 16px;
    }
    .hl {
        border-top: 6px solid #5B2C6F;
        height: auto;
    } 

</style>

@if (Model.Count() == 0)
{
    <h3 class="center-block" style="text-align:center ">No Transporters Are Found in<span style="color:red">@ViewBag.Search</span> </h3>

}
else
{
    <h3 class="center-block" style="text-align:center">Transporters in <span  style="color:red">@ViewBag.Search</span></h3>
    foreach (var data in Model)
    {


        <div class="container">
            <div class="row">
                <div class="column">
                    <div class="card hl" style="width: fit-content; padding: 25px 25px 25px 25px; background-color:cyan">
                        <div class="card-body" style="font-weight:100   ">
                            <h3 class="card-title " style="font-weight:bold ; color:orangered ;text-transform:uppercase">@data.TransportName</h3>
                            <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                            <p class="card-text"><span style="color:red">Address - </span><span style="text-transform:capitalize">@data.Address</span></p>
                            <p class="card-text"><span style="color:red">City - </span><span style="text-transform:capitalize">@data.City</span></p>
                            <p class="card-text"><span style="color:red">State - </span><span style="text-transform:capitalize">@data.State</span></p>
                            <p class="card-text"><span style="color:red">Contact - </span><span style="text-transform:capitalize">@data.ContactNo</span></p>
                            <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                            <a href="@Url.Action("VList","Vehicles",new { id = data.TransporterID })" class="btn btn-primary">Show Vehicles</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    }

}