@model IEnumerable<FindCarrier.Models.State>

@{
    ViewBag.Title = "Index";
}

<h2>State</h2>

<p>
    <a class="btn btn-primary" href="@Url.Action("create")">Add new</a>

</p>
<table class="table table-bordered" >
    <tr class="bg-primary">
        <th>
            @Html.DisplayNameFor(model => model.StateName)
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StateName)
        </td>
        <td>
            <a class="btn btn-primary" href="@Url.Action("edit",new { id=item.StateID })">Edit</a>
            <a class="btn btn-danger" href="@Url.Action("delete",new { id=item.StateID })">Delete</a>
        </td>
    </tr>
}

</table>
